{% extends 'nav.html'%}
{% block nav %}
        <div class="m-5 border shadow p-5">
            <h1 class="text-info">Login</h1>
            <form action="" method="post">
                {% csrf_token%}
                <label for="" class="d-block">Username :
                    <input type="text" class="form-control" placeholder="username" name="un">
                </label>
                <label for="" class="d-block">Password :
                    <input type="text" class="form-control" placeholder="password" name="pw">
                </label>
                <button class="btn btn-success" >Login</button>
            </form>
             
        </div>
{% endblock nav %}

       