{% extends 'nav.html' %}
{% block nav %}
        <div class="m-5 border shadow p-5">
            <h1 class="text-info">Register </h1>
            <form action="" method="post">
                {% csrf_token %}
                <label for="" class="d-block">Username
                    <input type="text" class="form-control" placeholder="username" name="un">
                </label>
                <label for="" class="d-block">Password
                    <input type="text" class="form-control" placeholder="password" name="pw">
                </label>
                <label for="" class="d-block">Email
                    <input type="text" class="form-control" placeholder="email" name="em">
                </label>
                <button  class="btn btn-success">Register</button>
            </form>
           </div>
{% endblock nav%}
